body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: burlywood;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.contact-info {
    margin-bottom: 30px;
}
.contact-info p {
    margin-bottom: 10px;
}
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}
input[type="submit"] {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: red;
}