body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    background-color: burlywood;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 25px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6600;
}

.hero {
    background-image: url('https://lh3.googleusercontent.com/p/AF1QipNLNXVOIEitf8zPnMWov46CTPWk3698w7mbE9h8=s1360-w1360-h1020');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
    z-index: 5;
}

.hero-content h2 {
    font-size: 48px;
    margin: 0;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin: 0;
}

footer {
    color: burlywood;
    height: 200px;
}